
name: Deploy to ECR

on: 
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:  
  build:   
    name: Deploy Web and S3 app.
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v3
    
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-central-1

    - name: Get versions from SSM
      uses: eliasjcjunior/aws-ssm-parameters-actions@main
      with:
        paths: |
          /ggoldmann-upskil-version/s3
    - name: show version from SSM
      env:
          s3_hash: ${{ env.s3 }}
          web_hash: ${{ env.s3 }}
      run: echo "TF_s3_hash $s3_hash TF_web_hash $web_hash"
    - name: Terraform init
      run: terraform init
    - name: Terraform Apply
      run: terraform apply -auto-approve -input=false -var s3_hash=$s3_hash -var web_hash=$web_hash
